.setWidth{
  min-width: 0px;
  max-width: 270px;
  height: 320px;
}

@media (max-width: 1770px) {
  .setWidth{
     max-width: 320px;
  }
}

@media (max-width: 1450px) {
  .setWidth{
     min-width: 0px;
  }
}