.darkBlue{
    background-color: #161c24;
}

@media screen and (max-width: 900px) {
  .logo{
      margin-left: 1rem !important;
  }
}

@media screen and (max-width: 600px) {
    .logo{
        min-width: 180px !important;
        max-width: 180px !important;
    }
  }
