.darkBlue{
    background-color: #161c24;
}

@media screen and (max-width: 900px) {
  .logo{
      margin-left: 1rem !important;
  }

  .hamburguer{
      margin-right: 1rem !important;
  }
}

@media screen and (max-width: 600px) {
    .logo{
        min-width: 150px !important;
        max-width: 150px !important;
    }

    .hamburguer{
        display: none !important;
    }
    
    .search{
        margin-right: 1rem;
    }
  }
